<li role="presentation" class="">
<a href="#{{id}}" aria-controls="{{id}}" role="tab" data-toggle="tab">{{#if options.name}}{{options.name}}{{else}}{{id}}{{/if}}
    &nbsp;
        <button class="close closeTab" type="button">×</button>
</a>
</li>
