<li class="standard-element option-element animation-slower subOption" group="{{action.group}}" name="{{action.id}}"> <!--fadeOut-->
    <a href="#" id="{{portalId}}_{{action.id}}_{{index}}" class="menu-element dropdown-menu-element"></a>
</li>