<div class="window-btn">
    <button class="btn btn-{{#if state}}{{state}}{{else}}default{{/if}}">
        {{#if icon}}<i class="fa fa-{{icon}}"></i>{{/if}} {{#if text}}{{text}}{{else}}{{id}}{{/if}}
    </button>
</div>