<div class="row">
    <div class="panel panel-default ">
        <div class="panel-body">
            <div class="row">
                <div class="input-group col-xs-12">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <input type="text" class="form-control" id="{{id}}_search" placeholder="Wyszukaj">

                    <div class="input-group-addon">
                        <button class="glyphicon glyphicon-cog" id="{{id}}_settings"></button>
                        <button class="glyphicon glyphicon-refresh" id="{{id}}_refresh"></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="{{id}}_details">
                    Details loading...
                </div>
                <div id="{{id}}_content">
                    Content loading...
                </div>
            </div>
        </div>
    </div>
</div>
