<fieldset>
<legend class="section" style="padding-top: 19px;">
    <i class="fa fa-unlock"></i> {{#if field.label}}{{field.label}}{{else}}{{self.id}}{{/if}}</legend>
    <form class="form-horizontal ng-pristine ng-valid">
        <div class="hr-line-dashed"></div>
        <!--<div id="{{../locationId}}_{{type}}_{{@index}}"></div>-->
        <div class="fieldset-content"></div>
    </form>
</fieldset>