<div id="{{id}}" class="footer-container window-area-container">
    <div class="content">
        {{#components}}
            <div class="col-xs-12">
                <div id="{{../id}}_{{id}}_{{@index}}">
                    {{name}}
                </div>
            </div>
        {{/components}}
    </div>
</div>
